body{
	background-color: #f5f2ed;
}	
.header{
	text-align: center;
	height: 10em;

}

.header .MainHeader{
	height: 10em;
	width: 16em;
	padding: .5em;
	position: absolute;
	top: 0;
	left: 5%;
	margin-right: 1em;
	color: #A13836;
	background-color: #f5f2ed;
	z-index: 10;
}

.header .MainHeader .MainHeader1{

	position: absolute;
	top: 0;
}

.header .MainHeader .MainHeader2{

	position: absolute;
	top: 30%;
	left: 15%;
}	

.header .MainHeader .MainHeader3{

	position: absolute;
	top: 60%;
	right: 0;
}

.header .SubHeader{
	color: #F66644;
}

.header ul{
	width: 87%;
	margin: 0;
	left: 0;
	position: relative;
	margin-top: 5%;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 5em;
	background-color: #F66644; 
	list-style-type: none;
	text-align: right;
}

.header li {
	padding: 1em;
	display: inline;
}

.header li:last-child:hover{
	background-color: #F66644; 
}

.header li:hover{
	background-color: #C04E34;
}

.header li a{
	display: inline;
	color: white;
	text-decoration: none;
}

.header ul li #triangle{
	height: 0;
	position: absolute;
	top: 0;
	right: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #f5f2ed;
	border-bottom: 25px solid transparent;
}

.mainPage{
	display:inline-block;
	width: 90%;
}

.mainPage .left{
	width: 45%;
	padding: 1em;
	float: left;
	display: inline;

}


.mainPage .left h2{
	text-align: center;
}

.mainPage .left .images img{
	width: 100%;
	height: 50%;
}

.mainPage .left ul{
	width: 100%;
	list-style-type: circle;

}

.mainPage .left li{
	display: inline;
	padding-right: 3em; 
}

.mainPage .left li:last-child{
	padding-right: 4.5em;
	padding-left: 3em;
}

.mainPage .right{
	width: 45%;
	padding: 1em;
	float: right;
	display:inline;
}

.mainPage .right h2{
	text-align: center;
}
.mainPage .right .images img{
	width: 100%;
	height: 50%;
}

.mainPage .right ul{
	width: 100%;
	list-style-type: circle;

}

.mainPage .right li{
	display: inline;
	padding-right: 3em; 
} 
}

.mainPage .right li:last-child{
	padding-right: 4.5em;
	padding-left: 5em;
}



.mainPage .center{
	width: 100%;
	float: left;
	display: inline-block;
}


.mainPage .center div h2{
	text-align: center;
}

.mainPage .center div .map{
	width:100%;
	height:380px;
}

.mainPage .center .cleft{
	width: 27%;
	float: left;
}

.mainPage .center .ccenter{
	width: 50%;
	float: left;
	padding: 1em;
}

.mainPage .center .cright{
	width: 15%;
	margin-left: 1em;
	float: left;
}

.mainPage .center .cright ul li a{
	color: black;
	text-decoration: none;
}